<a class="terms-condition-link" (click)="openModal(template)"> I agree to all terms and conditions.</a>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Terms of Use</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">  
      <p>
        We want to make it easier for everyone to find information and access resources across our websites. Listed below, you can
        find terms for using Verizon’s websites. You can also view specific terms for Verizon Wireless websites, as well
        as terms for Verizon business customers.</p>

      <strong>Acceptance of terms</strong>

      <p>
        This Web site and other Internet Web sites operated or controlled by subsidiaries and affiliates of Verizon Communications
        Inc. ("Site(s)") include content, text, information, advertising, data, audio/visual materials, "applets," and software
        (collectively, "Content"), as well as communication tools, access to email services (through Verizon or other email
        providers), online directories, administrative services, download areas, discussion forums, search, account management
        tools, access to certain content (e.g., news, weather, stocks and sports), certain diagnostic tools, games and other
        information ("Services"). The Services may themselves contain Content, and Content and Services are sometimes collectively
        referred to as the "Resources".</p>



      <p>Your use of the Sites (and any Site that links to these Terms) and any Resources provided on the Sites is subject to
        these terms of use (the "Terms") which form an agreement between you and Verizon Communications Inc. and its applicable
        subsidiaries and affiliates (collectively, "Verizon") regarding your use of the Sites. Certain Resources may also
        be subject to additional terms and conditions, whether on a particular Site or in a separate written or electronic
        agreement between you and Verizon, and Verizon's obligations with respect to such Resources are solely as defined
        in such other agreements, and nothing in these Terms is intended to modify them.</p>


      <p>Your use of the Sites (and any Site that links to these Terms) and any Resources provided on the Sites is subject to
        these terms of use (the "Terms") which form an agreement between you and Verizon Communications Inc. and its applicable
        subsidiaries and affiliates (collectively, "Verizon") regarding your use of the Sites. Certain Resources may also
        be subject to additional terms and conditions, whether on a particular Site or in a separate written or electronic
        agreement between you and Verizon, and Verizon's obligations with respect to such Resources are solely as defined
        in such other agreements, and nothing in these Terms is intended to modify them.</p>
      <hr>
      <strong>Registration information: Username and password</strong>


      <p>If you access the Sites anonymously, you will not be required to create a user name. However, in order to access certain
        Resources, you may be required to provide specific information and to create a user ID and password to establish
        an account. You agree that the information you provide in connection with establishing any account is accurate and
        that you will keep your information up-to-date. You are responsible for the security of all of your user names, passwords
        and registration information (such as unique account identifiers or historical billing information), and you are
        solely responsible for any use (authorized or not) of your accounts. You agree to notify immediately Verizon of any
        unauthorized activity regarding any of your accounts or other breach of security. Verizon may in its discretion suspend
        or terminate any of your user names and passwords at any time with or without notice.</p>
      <hr>

      <strong>Management of your data</strong>

      <p>You are solely responsible for obtaining, installing, and maintaining suitable equipment and software, including any
        necessary system or software upgrades, patches or other fixes, which are or may become necessary to access the Sites.
        Minimum systems requirements apply to the use of the Sites and it is your responsibility to ensure your computer
        system complies with these requirements. You agree that you are solely responsible for maintaining the security of
        your computer(s) and all personal and other data, including without limitation, encryption of data. WE STRONGLY RECOMMEND
        THE USE (AND APPROPRIATE UPDATING) OF COMMERCIAL ANTI-VIRUS, ANTI-SPYWARE AND FIREWALL SOFTWARE. Verizon is not responsible
        for back-up or restoration of your information or for any loss of or disablement of access to your information, including
        without limitation, email and address book information. We reserve the right to: (a) use, copy, display, store, transmit
        and reformat data transmitted over our network and to distribute such content to multiple Verizon servers for back-up
        and maintenance purposes; and (b) block or remove any unlawful content you store on or transmit to or from any Verizon
        server. We do not guarantee the protection of your content or data located on our servers or transmitted across our
        network (or other networks) against loss, alteration or improper access.</p>

      <strong>Disclaimers of warranty</strong>
      <p>
        VERIZON AND ITS LICENSORS PROVIDE THE SITES AND RESOURCES "AS IS", "AS AVAILABLE "AND "WITH ALL FAULTS" AND THE ENTIRE RISK
        AS TO THE QUALITY AND PERFORMANCE OF THE SITES IS WITH YOU. SHOULD THE SITES OR ANY RESOURCE BE DEFECTIVE, YOU, AND
        NOT VERIZON OR ITS LICENSORS, ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING AND REPAIR. VERIZON AND ITS LICENSORS
        EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, OR STATUTORY, WITH RESPECT TO THE SITES
        AND RESOURCES (INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED OR STATUTORY WARRANTIES OF MERCHANTABILITY, FITNESS FOR
        A PARTICULAR USE OR PURPOSE, TITLE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS). WITHOUT LIMITING THE GENERALITY
        OF THE FOREGOING, VERIZON AND ITS LICENSORS MAKE NO WARRANTY THAT THE SITES OR RESOURCES WILL MEET YOUR REQUIREMENTS
        OR THAT THE SITES OR RESOURCES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE OR THAT DEFECTS IN THE SITES
        WILL BE CORRECTED, OR THAT ANY CONTENT OR OTHER MATERIAL ACCESSIBLE FROM THE SITES IS FREE OF VIRUSES OR OTHER HARMFUL
        COMPONENTS. NO ADVICE OR INFORMATION GIVEN BY VERIZON, ITS AFFILIATES, LICENSORS OR THEIR RESPECTIVE EMPLOYEES SHALL
        CREATE ANY WARRANTY. VERIZON AND ITS LICENSORS MAKE NO WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE
        OF THE SITES OR RESOURCES OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE SITES OR RESOURCES.
        NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU THROUGH THE SITES OR RESOURCES OR FROM VERIZON
        OR ITS SUPPLIERS OR LICENSORS (OR THE RESPECTIVE OFFICERS, DIRECTORS, AFFILIATES, EMPLOYEES, OR AGENTS OF ANY SUCH
        ENTITIES) (COLLECTIVELY, "THE VERIZON PARTIES") SHALL CREATE ANY WARRANTY. VERIZON DISCLAIMS ALL EQUITABLE INDEMNITIES.
      </p>

    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-round red-button" (click)="modalRef.hide()">Close</button>
    </div>

  </div>
</ng-template>