 <div class="col-sm-3 solution-box">
        <span><img src="./assets/images/retailbox.png"></span>
        <br><br>
        <span class="black-text title">Retail in a Box</span>
        <br>
        <span>
          <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star.png">
        </span>
        <br>
        <span class="review-label"><small><a href="javascript:;" class="underline-text">Reviews</a></small></span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services and applications faster, and drastically simplify operational complexity in the WAN.</div>
           <br><br>
          <div class="underline-links">
            <a href="javascript:;" class="underline-text">7 Steps</a> |
            <a href="javascript:;" class="underline-text">4 Videos</a> |
            <a href="javascript:;" class="underline-text">FAQ's</a> 
            <!-- <a href="javascript:;" class="underline-text">Resources</a> -->
            <br><br>
            <button class="btn btn-default contButton black-border-btn">Continue</button>
          </div>
        </div>
      </div>
     
      
      <div class="col-sm-3 solution-box">
        <a [routerLink]="['/build-my-solution']" class="black-text"><span><img src="./assets/images/branchbox.png"></span></a>
        <br><br>
        <span class="title"><a [routerLink]="['/build-my-solution']" class="black-text">Branch in a Box</a></span>
        <br>
        <span>
          <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star.png">
        </span>
        <br>
        <span class="review-label"><small><a href="javascript:;" class="underline-text">Reviews</a></small></span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services and applications faster, and drastically simplify operational complexity in the WAN.</div>
           <br><br>
          <div class="underline-links">
            <a href="javascript:;" class="underline-text">7 Steps</a> |
            <a href="javascript:;" class="underline-text">4 Videos</a> |
            <a href="javascript:;" class="underline-text">FAQ's</a> 
            <!-- <a href="javascript:;" class="underline-text">Resources</a> -->
            <br><br>
            <a [routerLink]="['/build-my-solution']" class="black-text"><button class="btn btn-default contButton black-border-btn">Continue</button></a>
          </div>
        </div>
      </div>
   
    
      <div class="col-sm-3 solution-box">
        <span><img src="./assets/images/callcenter.png"></span>
        <br>
        <br>
        <span class="black-text title">Call Center in a Box</span>
        <br>
        <span>
          <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star.png">
        </span>
        <br>
        <span class="review-label"><small><a href="javascript:;" class="underline-text">Reviews</a></small></span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services and applications faster, and drastically simplify operational complexity in the WAN.</div>
           <br><br>
          <div class="underline-links">
            <a href="javascript:;" class="underline-text">7 Steps</a> |
            <a href="javascript:;" class="underline-text">4 Videos</a> |
            <a href="javascript:;" class="underline-text">FAQ's</a> 
            <!-- <a href="javascript:;" class="underline-text">Resources</a> -->
            <br><br>
            <button class="btn btn-default contButton black-border-btn">Continue</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 solution-box">
        <span><img src="./assets/images/datacenter.png"></span>
        <br>
        <br>
        <span class="black-text title">Data Center in a Box</span>
        <br>
        <span>
          <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star-filled.png"> <img src="./assets/images/star.png">
        </span>
        <br>
        <span class="review-label"><small><a href="javascript:;" class="underline-text">Reviews</a></small></span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services and applications faster, and drastically simplify operational complexity in the WAN.</div>
         <br><br>
          <div class="underline-links">
            <a href="javascript:;" class="underline-text">7 Steps</a> |
            <a href="javascript:;" class="underline-text">4 Videos</a> |
            <a href="javascript:;" class="underline-text">FAQ's</a> 
            <!-- <a href="javascript:;" class="underline-text">Resources</a> -->
            <br>
            <br>
            <button class="btn btn-default contButton black-border-btn">Continue</button>
          </div>

        </div>
    </div>
  
