<div class="panel panel-default panel-custom market-place-widget review-style-data">
  <div class="panel-heading-custom">Market Place</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 solution-box">
        <span><img src="./assets/images/img-35x35.png"></span>
        <span class="red-text title">NetScaler Standard Edition</span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services.</div>
        </div>
      </div>
      <div class="col-md-6 solution-box">
        <span><img src="./assets/images/img-35x35.png"></span>
        <span class="red-text title">Citrix WAN Optimisation</span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services.</div>
        </div>
      </div>
    </div>
  </div>
</div>
