<div class="panel panel-default panel-custom products-widget review-style-data">
  <div class="panel-heading-custom">Products</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 solution-box">
        <span><img src="./assets/images/img-35x35.png"></span>
        <span class="red-text title">SD WAN - Viptela</span>
        <span>
          <img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png">
        </span>
        <span><small><a href="javascript:;" class="underline-text">Reviews</a></small></span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services and applications faster, and drastically simplify operational complexity in the WAN.</div>
          <div>
            <a href="javascript:;" class="underline-text">7 Steps</a> |
            <a href="javascript:;" class="underline-text">4 Videos</a> |
            <a href="javascript:;" class="underline-text">FAQ's</a> |
            <a href="javascript:;" class="underline-text">Resources</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 solution-box">
        <span><img src="./assets/images/img-35x35.png"></span>
        <span class="red-text title">SD WAN - Versa</span>
        <span>
          <img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png">
        </span>
        <span><small><a href="javascript:;" class="underline-text">Reviews</a></small></span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services and applications faster, and drastically simplify operational complexity in the WAN.</div>
          <div>
            <a href="javascript:;" class="underline-text">7 Steps</a> |
            <a href="javascript:;" class="underline-text">4 Videos</a> |
            <a href="javascript:;" class="underline-text">FAQ's</a> |
            <a href="javascript:;" class="underline-text">Resources</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 solution-box">
        <span><img src="./assets/images/img-35x35.png"></span>
        <span class="red-text title">SD WAN - Aruba</span>
        <span>
          <img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png">
        </span>
        <span><small><a href="javascript:;" class="underline-text">Reviews</a></small></span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services and applications faster, and drastically simplify operational complexity in the WAN.</div>
          <div>
            <a href="javascript:;" class="underline-text">7 Steps</a> |
            <a href="javascript:;" class="underline-text">4 Videos</a> |
            <a href="javascript:;" class="underline-text">FAQ's</a> |
            <a href="javascript:;" class="underline-text">Resources</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 solution-box">
        <span><img src="./assets/images/img-35x35.png"></span>
        <span class="red-text title">SD WAN -  Palo Alto</span>
        <span>
          <img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png"><img src="./assets/images/star.png">
        </span>
        <span><small><a href="javascript:;" class="underline-text">Reviews</a></small></span>
        <div class="solution-desc">
          <div>With SD-WAN built on the Viptela Fabric, enterprises can provide secure connectivity everywhere, deploy new services and applications faster, and drastically simplify operational complexity in the WAN.</div>
          <div>
            <a href="javascript:;" class="underline-text">7 Steps</a> |
            <a href="javascript:;" class="underline-text">4 Videos</a> |
            <a href="javascript:;" class="underline-text">FAQ's</a> |
            <a href="javascript:;" class="underline-text">Resources</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
