<div class="specialoffers-widget">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
     
      <div class="col-sm-12">
         <h4>Special Offers</h4>
         <br>
        <div><img class="offer-img" src="./assets/images/specialoffers.png"></div>
        <br>
        <div class="link"><a href="javascript:;" class="blue-link">SD Wan - Viptela</a></div>
        <br>
        <div class="desc">SD-WAN devices perform load sharing by using multiple WAN connections simultaneously, distribute encrypted VPN tunnels.</div>
        <br>
       
        <button class="btn btn-default contButton black-button">Continue</button>
          <br>
      </div>
         <div class="col-sm-12">
         <br>
         <h4>Market Place</h4>
         <br>
        <div><img class="offer-img" src="./assets/images/marketplace.png"></div>
        <br>
        <div class="link"><a href="javascript:;" class="blue-link">SD WAN - Versa</a></div>
        <br>
        <div class="desc">Significant cost savings due to simplified management and the reduced need for high-quality lines.</div>
        <br>
        
        <button class="btn btn-default contButton black-button">Continue</button>

      </div>
    </div>
   
  </div>
</div>
</div>
