<div class="panel panel-default panel-custom video-guidelines-widget">
  <div class="panel-heading-custom">Videos and Guidelines</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <carousel>
          <slide>
            <img src="./assets/images/Video.png" alt="First slide" class="slide-img">
          </slide>
          <!-- <slide>
            <img src="./assets/images/icon-computer.png" alt="Second slide" class="slide-img">
          </slide> -->
        </carousel>
        <div class="red-text text-center title">SD WAN - Viptela</div>
        <div class="padding-top-10">Videos 1: Introduction to SD WAN</div>
        <div><strong>More Videos of SD WAN - Vipela:</strong></div>
        <div><a href="javascript:;" class="underline-text ">Video 2: Features of SD WAN</a></div>
        <div><a href="javascript:;" class="underline-text">Video 3: SD WAN Automation</a></div>
        <div><a href="javascript:;" class="underline-text">Video 4: SD WAN Pricing</a></div>
      </div>
    </div>
  </div>
</div>
