.sunburst-chart{
    padding-top: 
}
.btn-primary {
  
    color: #fff;
    background-color: #d52b1e;
    border-color: #d52b1e;
}
.badge{
    color: #d52b1e;
}
.total-cost{
    padding-left: 40px;
}
