<div class="container-fluid">
      <div class="row page-header_block">
            <div class="col-md-12">
                  <h3>My Console</h3>
            </div>
      </div>
      <div class="row">
            <div class="col-md-1 margin-left-minus-15">
                  <app-leftmenu></app-leftmenu>
            </div>
            <div class="col-md-11 page-content">

                  <!--Second Row -->
                  <div class="row" style="margin-top:20px;">
                        <div class="col-md-8 col-xs-12">
                              <my-Tickets-widget></my-Tickets-widget>
                        </div>
                        <div class="col-md-4 col-xs-12">
                              <alerts-Widget></alerts-Widget>
                        </div>
                  </div>
                  <div class="row padding-top-5">
                        <div class="col-md-12">
                              <solution-insights></solution-insights>
                        </div>
                  </div>
                  <!--Third Row -->
                  <div class="row padding-top-5">
                        <div class="col-md-6">
                              <myOrganization-Widget></myOrganization-Widget>
                        </div>
                        <div class="col-md-6">
                              <notification-Widget></notification-Widget>
                        </div>
                  </div>
            </div>
      </div>
</div>