<div class="panel panel-default panel-custom products-widget review-style-data">
   <div class="heading">My Solutions
      <console-integration-modal-widget></console-integration-modal-widget>
    </div>
   <div class="panel-body">
      <div class="row ticketDesk">
         <div class="col-md-4 col-xs-12 ">
            <div class="tbStatus tick"></div>
         </div>
         <div class="col-md-4 col-xs-12 ">
            <div class="tbLocation tick"></div>
         </div>
         <div class="col-md-4 col-xs-12">
            <div class="tbCategory tick"></div>
         </div>
      </div>
      <carousel class="ticketMobile" [interval]=false>
            <slide>
                <div class="tbStatus tick"></div>
              </slide>
            <slide>
                <div class="tbLocation tick"></div>
              </slide>
            <slide>
                <div class="tbCategory tick"></div>
              </slide>            
          </carousel>
   </div>
</div>
